<div class="post">
  <!-- Data and Author -->
  <div class="blog-date">
  <p class="blog-post-meta">
    <%= item.date.format(config.date_format) %>
             <% if(item.author){ %>
        by <%- item.author %>
        <%}%>
  </p>
  <div class="arrow-date"></div>
</div>    <!--Title -->
<div class="post-right">

        <h2 class="blog-post-title">
            <a href="<%- config.root%><%-item.path%>">
                <%- item.title||item.link %>
            </a>

        </h2>

        <!-- Content -->
        <%- item.content %>
        <%if(item.gallery){%>
            <%for(var i in item.gallery){%>
              <%- image_tag(item.gallery[i].img)%>
              <div class="step">
              <%= item.gallery[i].title%>
              </div>
              <%}%>
          <%}%>
        </div>

</div>
